header {
    border-bottom: 1px solid white;
    padding: 1em;
    font-size: 140%;
    font-weight: bold;
}
main {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1em;
}

.card {
    border: 1px solid white;
    padding: 1em;
    border-radius: 15px;
}
